#menu{
    margin: 5%;
    text-align: center;
}

ul {
    display: block;
    margin: 1rem 0;
    padding: 0;
}

li {
    display:inline-block;
    list-style: none;
    font-weight: 600;
    padding: 0.3rem 0.7rem;
    margin: 0.3rem;
    text-align: center;
}

.unactive, li {
    border: 1px solid #555555;
    color: #555555;
}

li:hover, .active{
    background-color: #cda398;
    border: #cda398 1px solid;
}


.elements {
    min-height: 50vh;
    padding: 15vh 2rem 2rem 2rem;
    font-size: 1rem;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.elements h2 {
    margin-bottom: 4rem;
}

#info {
    text-align: center;
}

#info li{
    min-width: 15%;
}


#photos {
    padding:0;
    min-height: 40vh;
    display: block;
}

img {
    display: block;
    margin: auto;
    object-fit: cover;
    width: 100%;
    min-height: 100%;
}


@media (min-width: 768px) {
    #container{
        position: relative;
        margin-left: 20%; 
    }

    #menu{
        position: fixed;
        left: 0;
        width: 20%;
        height: 100vh;
        overflow-y: auto;
        background-color: #f2f2f2;
        margin: 0;
        padding: 1rem 1rem 10rem 1rem;
       
    }

    #menu h3{
        font-size: 1.75rem;
        font-weight: 900;
        margin: 20% 0;
    }

    #menu li{
        margin: 1rem 0;
        color: #555555;
        width: 90%;
        text-align: center;
        font-size: 1rem;
    }

    .elements {
        min-height: 100vh;
        font-size: 1.25rem;
        padding: 15vh 4rem 4rem 4rem;
    }

    
    
}
@media (min-width: 1100px) {
    #container{
        margin-left: 20%;
    }

    #menu {
        width: 20%;
    }

    #menu li{
        font-size: 1.5rem;
    }

    #menu h3{
        font-size: 2.5rem;
    }
    
}