<ng-container *ngFor="let element of Rasy">

    <div id="menu">
        <h3>{{element[1].value}}</h3>
        <ul>
            <li (click)="scrollPhotos()" [ngClass]="(active == 1) ? 'active' : 'unactive'">Zdjęcia</li>
            <li (click)="scrollInfo()"  [ngClass]="(active == 2) ? 'active' : 'unactive'">Podstawowe informacje</li>
            <li (click)="scrollAppearance()"  [ngClass]="(active == 3) ? 'active' : 'unactive'">Wygląd</li>
            <li (click)="scrollCharacter()"  [ngClass]="(active == 4) ? 'active' : 'unactive'">Charakter</li>
        </ul>
    </div>
    <div id="container">
        <div class="elements" #photos  id="photos">
            <ngb-carousel [interval]="8000">
                <ng-template *ngFor="let element2 of Zdjecia" ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img [src]="element2[1].value">
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>      
        <div class="elements" #info id="info">
            <ul>
                <h3>Rozmiar</h3>
                <li *ngFor="let element3 of Rozmiar">{{element3[1].value}}</li>
            </ul>
            <ul>
                <h3>Sierść</h3>
                <li *ngFor="let element4 of Siersc">{{element4[1].value}}</li>
            </ul>
            <ul>
                <h3>Charakter</h3>
                <li *ngFor="let element5 of Charakter">{{element5[1].value}}</li>
            </ul>
            <ul>
                <h3>Umaszczenie</h3>
                <li *ngFor="let element6 of Umaszczenie">{{element6[1].value}}</li>
            </ul>
        </div>
        <div class="elements" #appearance id="appearance">
            <h2>Wygląd</h2>
            {{element[2].value}} 
        </div>
        <div class="elements" #character id="character">
            <h2>Charakter</h2>
            {{element[3].value}}
        </div>
    </div>
</ng-container>