#container {
    padding: 1.5rem 3rem;
    position: relative;
}

#search {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

button {
    font-weight: 600;
    padding: 0.3rem 0.5rem;
    min-width: 2.1rem;
    margin: 0.35rem;
    border: 1px solid #555555;
    color: #555555;
    background-color: white;
}

button:hover, .selected {
    background-color: #cda398;
    border: #cda398 1px solid;
}

button:disabled {
    background-color: lightgray;
    color: slategray;
}

button:disabled:hover {
    border: 1px solid #555555;
    background-color: lightgray;
}

.unselected {
    border: 1px solid #555555;
    background-color: white;
}

input{
    width: 85%;
    padding: 0.6rem;
    margin: 3rem 0;
}

#info{
    text-align: center;
}

#breeds{
    display: flex;
    flex-direction: column;
}

.dog {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
}

.image {
    width: 80%;
    position: relative;
    background-color: white;
}

.image img:nth-child(1) {
    transition: opacity 1s;
}

.image img:nth-child(2) {
    position: absolute;
    left: 0; 
    object-fit: contain;
    opacity: 0;
    transition: opacity 3s;
    max-height: 100%;
    max-width: 100%;
}

.image:hover{
     img:nth-child(2) {opacity: 1;}
     img:nth-child(1) {opacity: 0;}
}

@media (min-width: 768px) {
    #container{
        position: relative;
        margin-left: 25%;
    }

    #breeds{
        flex-wrap: wrap;
        flex-direction: row;
    }

    .dog {
        width: 50%;
    }
    
}
@media (min-width: 1100px) {
    #container{
        margin-left: 20%;
    }
    .dog{
        width: 33%;
    }
    
}