<app-filters (data)="eventHandler($event)"></app-filters>
<div id="container">
    <div id="search">
        <div>
            <button *ngFor="let element of Alfabet" (click)="alphabetSearch(element.letter)" 
            [ngClass]="(selectedLetter == element.letter) ? 'selected' : 'unselected'" [disabled]="element.state == false">{{element.letter}}</button>
        </div>
        <input (keyup)="search($event)"  [(ngModel)]="searchName" type="text" placeholder="Szukaj rasy...">
    </div>
    <div id="info">
        <h4>{{filterInfo}}</h4>
    </div>
    <div id="breeds">
        <div class="dog" *ngFor="let element of displayedRasy" routerLink="/breeds/{{element[1].value}}">
            <div class="image">     
                <ng-container *ngFor="let element2 of Zdjecia">
                    <img *ngIf="(element2[0].value == element[1].value)" [src]="element2[1].value">
                </ng-container>
           </div>
            <h4>{{element[0].value}}</h4>
        </div> 
    </div>
     
</div>
       