@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


#main{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header, footer{
    width: 100%;
    font-family: 'Indie Flower';
    color: #CDA398;
    background-color: #f2f2f2;
    text-align: center;
    padding: 1.5rem;
}
header {
    position: sticky;
    z-index: 16;
    border-bottom: solid 1px #d7d7d7;
    top: 0;
    min-height: 10vh;
}

footer {
    position: sticky;
    z-index: 1;
    border-top: solid 1px #d7d7d7;
    margin-top: auto;
    
}
h1, h3{
    margin: 0;
}
@media (min-width: 768px) {
    h1 { font-size: 3rem;}
}