<div id="main">
    <header routerLink="/breeds">
        <h1>Rasy Psów</h1>
    </header>
    <router-outlet ></router-outlet>
    <footer>
        <h3>&copy; Paulina Ryngwelska 2021</h3>
    </footer>
</div>