<aside>
    <div id="clear"> 
        <button (click)="clear()" class="unselected">Wyczyść</button>
    </div>
    <div class="items">
        <h3>Rozmiary</h3>
        <button *ngFor="let element of Rozmiar" (click)="select('rozmiar', element[0].value)" [ngClass]="selectClass('rozmiar', element[0].value)">{{element[1].value}}</button>
    </div>
    <div class="items">
        <h3>Charakter i zachowanie</h3>
        <button *ngFor="let element of Charakter" (click)="select('charakter', element[0].value)" [ngClass]="selectClass('charakter', element[0].value)">{{element[1].value}}</button>
    </div>
    <div class="items">
        <h3>Umaszczenie</h3>
        <button *ngFor="let element of Umaszczenie" (click)="select('umaszczenie', element[0].value)" [ngClass]="selectClass('umaszczenie', element[0].value)">{{element[1].value}}</button>
    </div>
    <div class="items">
        <h3>Rodzaj sierści</h3>
        <button *ngFor="let element of Siersc" (click)="select('siersc', element[0].value)" [ngClass]="selectClass('siersc', element[0].value)">{{element[1].value}}</button>
    </div>
    <button id="search" (click)="filter()">SZUKAJ</button>
</aside>
