aside {
    color: #555555;
    background-color: #f2f2f2;
    padding: 2rem
}

#clear {
    text-align: right;
    margin-bottom: 2rem;
}

h3 {
    font-weight: 700;
}

.items {
    margin-bottom: 2rem;
}

button {
    font-weight: 600;
    padding: 0.4rem;
    margin: 0.3rem;
}

button:hover, .selected{
    background-color: #cda398;
    border: #cda398 1px solid;
}

#clear button:hover, .unselected {
    border: 1px solid #555555;
    color: #555555;
    background-color: #f2f2f2;
}

#search {
    width: 100%;
    border: none;
    color: white;
    font-weight: 1000;
    font-size: 1.25rem;
    background-color: #cda398;
}

@media (min-width: 768px) {
    aside {
        position: fixed;
        left: 0;
        width: 25%;
        height: 100vh;
        overflow-y: auto;
        padding: 0.3rem 0.3rem 12rem 0.3rem;

    }

    #search { margin: 0}
    
}

@media (min-width: 1100px) {

    button {
        padding: 0.4rem 1rem;
    }
    aside {
        width: 20%;
        padding: 2rem 2rem 12rem 2rem;
    }
}