@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import '~bootstrap/scss/bootstrap';

html, body {
    height: 100%;
}

body{
    font-family: 'Lato', sans-serif;
}
button {
    font-family: 'Lato', sans-serif;
}

.carousel-control-prev{
    background: linear-gradient(90deg, #5e5e5e 0%,  rgba(254,254,254,0) 100%);
    
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 25%;
    height: 25%;
}

.carousel-control-next{
    background: linear-gradient(90deg, rgba(254,254,254,0) 0%, #5e5e5e 100%);
}

.carousel-indicators{
    padding: 2rem;
    margin: 0;
}

.carousel-indicators li{
    background-color: #444444;
    width: 10%;
    height: 5px;
    border: 1px solid #999999;
}


@media (orientation: portrait) {
    .picsum-img-wrapper{
        height: 40vh;
    }   
}

@media (orientation: landscape) {
    .picsum-img-wrapper{
        height: 90vh;
    }   
}

